@font-face {
  font-family: "FiraSans-Light";
  src: url("../fonts/fira/Firasanslight.ttf") format("truetype"),
      url("../fonts/fira/Firasanslight.woff") format("woff"),
      url("../fonts/fira/Firasanslight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FiraSans-Regular";
  src: url("../fonts/fira/Firasansregular.ttf") format("truetype"),
      url("../fonts/fira/Firasansregular.woff") format("woff"),
      url("../fonts/fira/Firasansregular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FiraSans-Medium";
  src: url("../fonts/fira/Firasansmedium.ttf") format("truetype"),
      url("../fonts/fira/Firasansmedium.woff") format("woff"),
      url("../fonts/fira/Firasansmedium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/opensans/opensanslight.ttf") format("truetype"),
  url("../fonts/opensans/opensanslight.woff") format("woff"),
  url("../fonts/opensans/opensanslight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/opensans/opensans.ttf") format("truetype"),
      url("../fonts/opensans/opensans.woff") format("woff"),
      url("../fonts/opensans/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/opensans/opensansbold.ttf") format("truetype"),
      url("../fonts/opensans/opensansbold.woff") format("woff"),
      url("../fonts/opensans/opensansbold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fontello';
  src: url('../fonts/fontello/fontello.eot?78666158');
  src: url('../fonts/fontello/fontello.eot?78666158#iefix') format('embedded-opentype'),
  url('../fonts/fontello/fontello.woff2?78666158') format('woff2'),
  url('../fonts/fontello/fontello.woff?78666158') format('woff'),
  url('../fonts/fontello/fontello.ttf?78666158') format('truetype'),
  url('../fonts/fontello/fontello.svg?78666158#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


