@import "variables";

#loginForm, #signUpForm, #restorePasswordForm{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 2;
  transition:0.25s ease-in opacity;
  &:target{
    display: block;
  }
}


.modal {
  position: relative;
  max-width: 450px;
  border-radius: 0.4em;
  font-family: $OpenSans-Regular;
  color: $dark-bg;
  margin: 10% auto;
  padding: 40px;
  background: #fff;
  .modal__close{
    color: $dark-bg;
    z-index: 2;
    line-height: 25px;
    position: absolute;
    right: 12px;
    text-align: center;
    top: 12px;
    width: 24px;
    &:hover{
      cursor: pointer;
    }
  }
  form {
    position: relative;
    margin: 0 auto;
    input {
      margin-bottom: 4px;
    }
    a {
      margin-top: 1em;
    }
  }

}
