@import "variables";

.gallery {
  //display: grid;
  //grid-template-columns: 2fr 1fr 1fr;
  //grid-column-gap: 4px;
  //grid-row-gap: 4px;
  line-height: 0;
  -webkit-column-gap: 4px;
  -moz-column-gap: 4px;
  column-gap: 4px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  img {
    width: 100%;
    height: auto;
  }
}