@import "variables";

body {
  background-color: white;
  font-family: $OpenSans-Regular;
  color: $dark-bg;
}

h1 {
  font-family: $OpenSans-Bold;
  font-size: 3em;
  line-height: 150%;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.2em;
  line-height: 150%;
  margin-bottom: 0.5em;
}
h3 {
  text-align: center;
  line-height: 150%;
  font-size: 1.2em;
  font-family: $OpenSans-Light;
  padding-bottom: 5px;
  margin-bottom: 0.5em;
}

fieldset {
  width: 100%;
  legend {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8em;
    line-height: 140%;
    margin-bottom: 0.5em;
  }
}



p {
  line-height: 130%;
  font-family: $FiraSans-Light;
}

div {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 2em;
}

.flex-row, .flex-row-between {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flex-row-between {
  justify-content: space-between;
}


.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* wrap on 992px */
@media screen and (max-width: 992px) {
  .flex-wrap-m {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  h2 {
    font-size: 2.1em;
    line-height: 140%;
    margin-bottom: 0.4em;
  }
  h3 {
    line-height: 140%;
    font-size: 1.1em;
    padding-bottom: 4px;
  }
  p {
    line-height: 120%;
    font-size: 0.9em;
  }
}

/* wrap on 768px */
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0 1em;
  }
  .flex-wrap-s {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.8em;
  }
  p {
    line-height: 120%;
    font-size: 0.9em;
  }
}

/* wrap on 480px */
@media screen and (max-width: 480px) {
  .wrapper {
    padding: 0 0.5em;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  .flex-wrap-xs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

a {
  text-decoration: none;
}

button {
  color: white;
  background-color: $lighter-accent;
  border: 1px solid $lighter-accent;
  transition: 0.3s;
  &:hover {
    background-color: $accent;
    border: 1px solid $accent;
  }
  margin: 1em auto;
  border-radius: 0.4em;
  padding: 12px;
  width: 200px;
  font-size: 1.1em;
  font-family: $FiraSans-Medium;
  text-transform: uppercase;
  cursor: pointer;
}

button[disabled] {
  box-shadow: none;
  cursor: not-allowed;
  border-color: #dbe2e8;
  background-color: #dbe2e8;
}

form {
  width: 100%;
}

label {
  display: inline-block;
  margin: 1em 0 0.5em;
}

input, textarea {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 12px;
  border: 1px solid $separator;
  font-size: 0.9em;
  padding: 3px 0 0 10px;
  box-sizing: border-box;
}

.error {
  color: #f5222d;
  font-size: 0.8em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #C7CED4;
  font-family: $OpenSans-Regular;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #C7CED4;
  font-family: $OpenSans-Regular;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #C7CED4;
  font-family: $OpenSans-Regular;
}
:-moz-placeholder { /* Firefox 18- */
  color: #C7CED4;
  font-family: $OpenSans-Regular;
}

