@import "variables";

body {
  background-color: white;
  font-family: $OpenSans-Regular;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-row, .flex-row-between {
  display: flex;
  align-items: center;
  height: 100%;
}

.flex-row-between {
  justify-content: space-between;
}

a {
  text-decoration: none;
}