@import "variables";

header {
  background-color: $dark-bg;
  height: 60px;
  font-family: $OpenSans-Light;
  color: white;
  text-transform: uppercase;
  position: relative;
  a {
    color: white;
  }
  .logo {
    margin-top: -35px;
  }
  .naming {
    text-align: center;
    padding: 10px 15px;
    span {
      font-family: $FiraSans-Light;
      &:last-of-type {
        color: $accent;
        font-family: $FiraSans-Medium;
      }
    }
    p {
      font-size: 0.7em;
    }
  }

  nav {
    ul.main-nav> {
      li {
        font-size: 0.8em;
        &:not(:first-child){
          &:before {
            content: "|";
          }
        }
        /*drop-down-li*/
        &:nth-child(2){
          &:before {
            content: "";
          }
        }

        a {
          cursor: pointer;
          padding: 10px 15px;
          color: white;
          transition: 0.3s;
          &:hover {
            color: $lighter-accent;
          }
        }
        [href*='profile'] {
          text-transform: lowercase;
          color: #7cda9a;
        }
        &:first-child {
          &:after {
            content: "\25bc";
            font-size: 0.8em;
            margin: 0 10px 0 -11px;
            transition: 0.3s;
          }
          &:hover{
            &:after {
              color: $accent;
            }
          }
        }

      }
    }
  }
}

li.drop-down {
  position: relative;
  ul {
    position: absolute;
    z-index: 3;
    background-color: rgba(49, 56, 64, 0.8);
    left: -100px;
    width: 250px;
    top: 30px;
    font-size: 1.1em;
    text-transform: capitalize;
    li {
      padding: 0.2em 0.3em;
      a {
        width: 100%;
        box-sizing: border-box;
        display: inline-block;
      }
      &:last-child {
        text-transform: uppercase;
        font-family: $OpenSans-Bold;
        a {
          color: $lighter-accent;
        }
      }
    }
  }
}


#menu, .toggle-menu {
  display: none;
}


@media screen and (max-width: 768px) {
  /* hide nav, show burger */
  #nav {
    display: none;
    z-index: 1;
  }
  .toggle-menu {
    display: block;
  }
  /*show nav */
  #menu:checked ~ #nav {
      display: block;
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: 60px;
    background-color: rgba(51,153,102, 0.7);

    color: white;
    ul {
      width: 100%;
      li {
        width: 100%;
        font-family: $OpenSans-Regular;
        a {
          padding: 10px 25px;
          &:hover {
            color:$dark-bg;
          }
        }
        &:first-child {
          &:hover{
            &:after {
              color: $dark-bg;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px){
  #menu:checked ~ #nav {
    display: block;
    position: absolute;
    left: 0;
    bottom: -60px;
    width: 100%;
    background-color: rgba(51,153,102, 0.7);
    color: white;
    height: 150px;
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      li {
        width: 100%;
        display: flex;
        justify-content: center;
        a {
          padding: 12px 25px;
        }
        &:not(:first-child) {
          &:before {
            content: "";
          }
        }
        &:first-child {
          &:after {
            font-size: 0.8em;
            margin: 12px 12px 0 -20px;
            transition: 0.3s;
          }
        }
      }
    }
  }
}