@import "variables";

#profile {
  display: flex;
  nav {
    width: 250px;
    background-color: $dark-bg;
    color: white;
    font-family: $OpenSans-Light;
    ul {
      padding: 3em 2em 3em 4em;
      li {
        padding: .2rem 0;
        a {
          display: inline-block;
          color: white;
          padding: .7rem 0;
          transition: 0.3s;
          &:hover {
            color: $lighter-accent;
          }
        }
      }
    }
  }
}

.user-details {
  margin-right: 6em;
  .user-details__image {
    align-self: flex-start;
  }
  img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 2px solid $separator;
  }
  .user-details__info {
    margin-top: 1em;
    padding: 1em 1em 0 0;
    width: 450px;
    p {
      font-family: $OpenSans-Regular;
      font-size: 1em;
      padding: 10px 0;
    }
  }
}
