@import "variables";

.welcome {
  height: 500px;
  background: linear-gradient(to right, rgba(255,255,255,1) 1%,
          rgba(255,255,255,1) 10%,
          rgba(255,255,255,1) 20%,
          rgba(255,255,255,0) 100%);
  background-size: cover;
  img {
    position: absolute;
    width: 100%;
    z-index: -1;
    max-height: 500px;
  }
  .slider-text {
    position: relative;
  }
}

.animate-left {
  position: relative;
  animation: animateleft 0.4s;
}

.info {
  height: 500px;
  margin-left: 5em;
  text-shadow: 2px 2px 4px white;
  color: $dark-bg;
  align-items: flex-start;

  p {
    font-size: 1.5em;
    line-height: 150%;
  }
}

