@import "fonts";

$FiraSans-Light: "FiraSans-Light", Arial, Helvetica, sans-serif;
$FiraSans-Regular: "FiraSans-Regular", Arial, Helvetica, sans-serif;
$FiraSans-Medium: "FiraSans-Medium", Arial, Helvetica, sans-serif;
$OpenSans-Light: "OpenSans-Light", Arial, Helvetica, sans-serif;
$OpenSans-Regular: "OpenSans-Regular", Arial, Helvetica, sans-serif;
$OpenSans-Bold: "OpenSans-Bold", Arial, Helvetica, sans-serif;
$Fontello: "Fontello";
$accent: #339966;
$lighter-accent: #61B77F;
$dark-bg: #313840;
$separator: #dbe2e8;
$lighter-bg: #656565;
